<html>
  <head>
    <title>QuickNotes</title>
  </head>
  <body>
    <main
      class="w-full md:max-w-screen-lg flex flex-col justify-center border border-indigo-50/70"
    >
      <slot />
    </main>
  </body>
</html>
