---
import { Title } from '@features/ui/title';
import { Description } from '@features/ui/description';
import { default as DefaultLayout } from './default-layout.astro';

const { frontmatter } = Astro.props;
---

<html>
  <head>
    <title>{frontmatter.title} | QuickNotes</title>
  </head>
  <body>
    <DefaultLayout>
      <Title>{frontmatter.title ?? 'NO TITLE'}</Title>

      <!-- TODO: post layout -->
      <article
        class="m-4 h-full overflow-auto text-indigo-50/90 select-none text-lg"
      >
        <Description>{frontmatter.description}</Description>
        
        <slot />

        <!-- TODO: seperate component -->
        <div class="pt-4 text-sm text-indigo-200/90 italic font-light cursor-default text-right">
          {
            (frontmatter.tags ?? '')
              .split(', ')
              .map((tag: string) => `#${tag}`)
              .join(' ')
          }
        </div>
      </article>
    </DefaultLayout>
  </body>
</html>
