---
import { Title } from '@features/ui/title';
import { default as DefaultLayout } from './default-layout.astro';

const { frontmatter } = Astro.props;
---

<html>
  <head>
    <title>{frontmatter.title} | QuickNotes</title>
  </head>
  <body>
    <DefaultLayout>
      <Title>{frontmatter.title ?? 'NO TITLE'}</Title>

      <!-- TODO: post layout -->
      <article class="h-full overflow-auto">
        <slot />

        <!-- TODO: seperate component -->
        <div class="text-sm text-indigo-200 italic font-light cursor-default">
          {
            (frontmatter.tags ?? '')
              .split(', ')
              .map((tag: string) => `#${tag}`)
              .join(' ')
          }
        </div>
      </article>
    </DefaultLayout>
  </body>
</html>
