---
import { DefaultLayout } from '@features/ui/layouts';
import { Title } from '@features/ui/title';
import { BigCard } from '@features/cards';

const pages = await Astro.glob('../pages/**/*.{md,mdx}');
const latestPage = pages[0];
---

<html>
  <head>
    <title>Quick Notes</title>
  </head>

  <body>
    <DefaultLayout>
      <Title>Quick Notes</Title>
      <hr />
      <section>
        <BigCard
          title={latestPage.frontmatter.title}
          url={latestPage.url}
          updatedAt={latestPage.frontmatter.updatedAt}
        />
      </section>
    </DefaultLayout>
  </body>
</html>
