---
import { DefaultLayout } from '@features/ui/layouts';
import { Title } from '@features/ui/title';
import '@/styles/global.scss';
---

<DefaultLayout>
  <Title>Quick Notes</Title>
</DefaultLayout>
