---
import { DefaultLayout } from '@features/ui/layouts';
import { Title } from '@features/ui/title';
---

<html>
  <head>
    <title>Quick Notes</title>
  </head>

  <body>
    <DefaultLayout>
      <Title>Quick Notes</Title>
    </DefaultLayout>
  </body>
</html>
